@import url('http://fonts.cdnfonts.com/css/tolkien');



body {
    background-image: url(./Images/stardust-1920x1080.png);
}

header {
    position: sticky;
}

h1 {
    font-family: 'Tolkien', sans-serif;
    font-size: 60px;
    text-align: center;
    background: linear-gradient(to right, #FCD882 0%, #E8A577 20%, #DF7B74 50%, #E8A577 80%, #FCD882 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

#logo {
    font-family: 'Tolkien', sans-serif;
    font-size: 25px;
    background: linear-gradient(to right, #FCD882 0%, #E8A577 20%, #DF7B74 50%, #E8A577 80%, #FCD882 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 875px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    justify-content: center;
}

nav {
    
    text-align: center;
    background-color:#4E2729;
    position: sticky;
    height: 150px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 div.links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
 }

div.links > a {
    font-family: "Tolkien", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    align-items: center;
}

h2 {
    font-family: 'MiddleEarth Font';
    color: #FCD882;
}