@import url('http://fonts.cdnfonts.com/css/tolkien');

header {
    position: sticky;
}

h1 {
    font-family: 'Tolkien', sans-serif;
    font-size: 60px;
    text-align: center;
    background: linear-gradient(to right, #FCD882 0%, #E8A577 20%, #DF7B74 50%, #4E2729 80%, #180109 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

nav {
    font-family: "Tolkien", sans-serif;
    text-align: center;
    background-color:#4E2729;
    position: sticky;
}
nav > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}